
body {
    background-color: #000;
    color: #ccc;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 5%;
}
h1 {
    color: #fff;
    font-size: 3em;
    letter-spacing: 0.05em;
}
h2, h3 {
    color: #0ff;
}
a.button {
    display: inline-block;
    margin-top: 2em;
    padding: 0.75em 1.5em;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #ccc;
}
a.button:hover {
    background-color: #222;
}
